<div class="ui container">
    <div class="desktop-only">
        <div class="ui blue inverted fixed top menu">
            <!--<div class="item">

            </div>-->
            <div class="item">
                <h2 class="heading brand">Still Kicking</h2>
            </div>
            <!--<a ui-sref="user.habits" ui-sref-active="active" class="item">Habits &amp; Risk</a>-->
            <!--<a ui-sref="user.history" ui-sref-active="active" class="item">History</a>-->
            <!--<a ui-sref="user.settings" ui-sref-active="active" class="item">Settings</a>-->
            <div class="right menu">
            </div>
        </div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="" id="parent">
        <div ui-view></div>
    </div>
</div>