<div class="ui container">
    <h1 class="ui header">Game Plan</h1>
    <div class="ui  right aligned relaxed internally celled grid">
        <div class="row" ng-repeat="item in drugSchedule" ng-class="{past:item.expireTime<currentTime}">
            <div class="four wide column">
                <h3 class="ui header">{{item.startTime}}</h3>
            </div>
            <div class="twelve wide column">
                <table class="ui very basic unstackable center aligned fixed table">
                    <!--<thead>-->
                    <!--<tr>-->
                    <!--<th>Amount</th>-->
                    <!--<th>Name</th>-->
                    <!--<th>Button</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <tbody>
                    <tr ng-repeat="drug in item.drugs" ng-class="{positive: (drug.taken && item.expireTime>=currentTime)}">
                        <!--<td>{{drug.amt}}</td>-->
                        <td><h4 class="ui centered header">{{drug.amt}} of {{drug.name}}</h4></td>
                        <td ng-if="drug.taken"><i class="icon checkmark"></i></td>
                        <td ng-if="!drug.taken">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="ui modal" id="addDrugModal">
    <div class="header">Add a Drug</div>
    <div class="content">
        <form class="ui form">
            <h4 class="ui dividing header">Pill Information:</h4>
            <div class="two fields">
                <div class="field">
                    <label>NDC #</label>
                    <input type="text" name="ndc" placeholder="">
                </div>
                <div class="field">
                    <label>RXCUI # <em>(auto filled)</em></label>
                    <input disabled type="text" name="rxcui" placeholder="">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="">
                </div>
                <div class="field">
                    <label>Strength</label>
                    <input type="text" name="strength" placeholder="">
                </div>
            </div>
            <h4 class="ui dividing header">Usage Information:</h4>
            <div class="three fields">
                <div class="field">
                    <label>Take:</label>
                    <input type="number" name="amount" placeholder="Amount">
                </div>
                <div class="field">
                    <label>Every:</label>
                    <div class="ui right labeled input">
                            <input type="text" placeholder="">
                            <div class="ui label">
                                hours
                            </div>
                        </div>
                </div>
                <div class="field">
                    <label>Time:</label>
                    <input type="number" name="time" placeholder="Starting Time">
                </div>
            </div>
            <div class="vertical-spacer"></div>
            <div class="ui toggle checkbox right floated">
                <input type="checkbox" name="food">
                <label class="">With Food</label>
            </div>
            <div class="vertical-spacer"></div>
            <div class="ui field">
                <label>Notes:</label>
                <textarea rows="3" name="notes"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui cancel basic primary button">Cancel</button>
    </div>
</div>
