<div class="ui sidebar blue inverted vertical menu" id="#sideMenu">
    <div class="item">
        <h2 class="heading brand">Still Kicking</h2>
    </div>

    <a ui-sref="user.day" onclick="toggleSideMenu()" ui-sref-active="active" class="item">Game Plan</a>
    <a ui-sref="user.card" onclick="toggleSideMenu()" ui-sref-active="active" class="item">Emergency Card</a>
    <a ui-sref="user.resources" onclick="toggleSideMenu()" ui-sref-active="active" class="item">Resources</a>
    <a ui-sref="login" ng-click="logout()" class="item">Logout</a>
    <a class="item" onclick="toggleSideMenu()">Close <i class="inverted large close icon"></i></a>
</div>
<div class="pusher">
    <div class="">
        <div class="ui blue inverted fixed top menu" id="mobileNav">
            <!--<div class="item toggleSideMenu" onclick="toggleSideMenu()">-->
            <!--<i class="large ellipsis vertical icon"></i>-->
            <!--</div>-->
            <div class="item toggleSideMenu" onclick="toggleSideMenu()">
                <i class="big icons">
                    <i class="big thin circle icon"></i>
                    <i class="treatment icon"></i>
                </i>
            </div>
            <div class="item" onclick="toggleSideMenu()">
                <h2 class="heading brand">Still Kicking</h2>
            </div>
        </div>
    </div>
    <div class="">
        <div class="ui blue inverted fixed top menu" id="deskNav">
            <div class="item">
                <i class="big icons">
                    <i class="big thin circle icon"></i>
                    <i class="treatment icon"></i>
                </i>
            </div>
            <div class="item">
                <h2 class="heading brand">Still Kicking</h2>
            </div>
            <a ui-sref="user.day" ui-sref-active="active" class="item">Game Plan</a>
            <a ui-sref="user.card" ui-sref-active="active" class="item">Emergency Card</a>
            <a ui-sref="user.resources" ui-sref-active="active" class="item">Resources</a>
            <div class="right menu">
                <!--< ui-sref-active="active" class="item">Game Plan</>&ndash;&gt;-->
                <a ui-sref="login" ng-click="logout()" class="item">Logout</a>
            </div>
        </div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <div class="" id="parent">
        <div ui-view></div>
    </div>
</div>