<div class="">
  <div class="ui blue inverted fixed top menu">
    <div class="item">
      <!--<img class="image" src="/images/RH_R.png">-->
    </div>
    <div class="item">
      <h2 class="heading brand">Still Kicking</h2>
    </div>
    <a ui-sref="user.day" ui-sref-active="active" class="item">Game Plan</a>
    <a ui-sref="user.card" ui-sref-active="active" class="item">Emergency Card</a>
    <a ui-sref="user.resources" ui-sref-active="active" class="item">Resources</a>
    <div class="right menu">
      <!--< ui-sref-active="active" class="item">Game Plan</>&ndash;&gt;-->
      <!--<a class="item" ng-click="openSetting()">Settings</a>-->
      <a ui-sref="login" ng-click="logout()" class="item">Logout</a>
    </div>
  </div>
</div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="" id="parent">
  <div ui-view></div>
</div>
