/*.browsehappy {*/
  /*margin: 0.2em 0;*/
  /*background: #ccc;*/
  /*color: #000;*/
  /*padding: 0.2em 0;*/
/*}*/


.brand {
    /**font-family: Helvetica, sans-serif;**/ /** 'Kavivanar', cursive;**/
}

.vertical-spacer {
    width: 100%;
    display: block;
    clear: both;
    padding-top: 2em;
}

.vertical-half-spacer {
    width: 100%;
    display: block;
    clear: both;
    padding-top: 1em;
}

.vertical-quarter-spacer {
    width: 100%;
    display: block;
    clear: both;
    padding-top: 0.25em;
}

.ui.statistic{
  text-align: center;
  width: 100%;
  margin:auto;
}

.title{
    font-weight: bold;
    font-size: 26pt;
}
.angular-center-container {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:table;
    pointer-events: none;
    z-index:9999;
}

.pusher {
    background-image: url("/images/bluePoly.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*.past{*/
    /*background-color:	#C8C8C8;*/
/*}*/
.toggle.right.floated {
    float: right;
}

.heading.brand {
    font-family: 'Yesteryear', cursive;
    font-size: 2.7em;
    font-weight: 400;
}

.header.main.brand {
    font-family: 'Yesteryear', cursive;
    font-size: 5rem;
    font-weight: 400;
}

.large.label {
    margin-bottom: .5rem;
}

@media only screen and (max-width: 700px) {
    /*.ui.fixed.menu {*/
        /*display: none !important;*/
    /*}*/

    #deskNav{
        display: none;
    }
    #mobileNav {
        display: block;
    }
    #mobileNav .item{
        display: inline-block;
    }
    /*.masthead.segment {*/
        /*min-height: 350px;*/
    /*}*/
    /*.masthead h1.ui.header {*/
        /*font-size: 2em;*/
        /*margin-top: 1.5em;*/
    /*}*/
    /*.masthead h2 {*/
        /*margin-top: 0.5em;*/
        /*font-size: 1.5em;*/
    /*}*/
}