
<centered>
  <h1 class="ui header centered">Login</h1>
  <div class="vertical-spacer"></div>
  <div class="ui text container">
    <div class="ui centered fluid card">
      <div class="content">
        <form class="ui form" id="login">
          <div class="field">
            <label>Username</label>
            <input type="text" placeholder="Username" name="username">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" placeholder="Password" name="password">
          </div>
          <div class="ui error message"></div>
        </form>
      </div>
      <div class="ui attached buttons">
        <a ui-sref="anon.register" class="ui basic secondary button">Register</a>
        <div class="or"></div>
        <button class="ui primary button" ng-click='authenticate()'>Login</button>

      </div>
    </div>
  </div>
</centered>
<div class="vertical-spacer"></div>