<div class="ui container">
    <div class="ui relaxed stackable centered grid">
        <div class="ui row">
            <div class="seven wide column">
                <h1 class="ui inverted header">Game Plan</h1>
            </div>
            <div class="seven wide column">
                <div class="ui right floated primary  icon button" ng-click="addDrugOpen()">
                    <i class="icons">
                        <i class="treatment icon"></i>
                        <i class="corner add icon"></i>
                    </i>
                    Add Drug
                </div>
                <div class="ui right floated secondary  icon button" ng-click="scheduleDrugOpen()">
                    <i class="add to calendar icon"></i>
                    Schedule Drug
                </div>
            </div>
        </div>
        <div class="ui row">
            <div class="seven wide column" ng-repeat="evt in drugSchedule">
                <div class="ui primary rasied centered fluid card" ng-class="{disabled:evt.completed}">
                    <div class="content">
                        <div ng-if="evt.completed" class="ui right floated icon secondary basic button">Taken <i
                                class="checkmark icon"></i></div>
                        <div ng-if="evt.food" ng-class="{basic:evt.completed}"
                             class="ui right floated icon orange button">Food <i class="food icon"></i></div>
                        <div class="header">{{evt.time | militaryTime }}</div>
                        <div class="description">
                            <h4 class="ui centered header" ng-repeat="drug in evt.drugs">
                                {{drug.name}} {{drug.dosage}}mg - {{drug.numPill}} pill(s)
                            </h4>
                        </div>
                    </div>
                    <div class="vertical-spacer"></div>
                    <div class="ui bottom attached light primary button"
                         ng-click="completePill(evt)" ng-class="{basic:evt.completed, disabled:evt.completed}">Complete
                    </div>
                </div>
                <div class="vertical-spacer"></div>
            </div>
        </div>
    </div>

    <div class="ui modal" id="addDrugModal">
        <div class="header">Add a Drug</div>
        <div class="content">
            <form class="ui form" id="addDrugForm">
                <h4 class="ui dividing header">Pill Information:</h4>
                <div class="two fields">
                    <div class="field">
                        <label>Drug Name:</label>
                        <input type="text" name="name" placeholder="" required>
                    </div>
                    <div class="field">
                        <label>Dosage</label>
                        <div class="ui right labeled input">
                            <input type="number" min="0" name="dosage" placeholder="" required>
                            <div class="ui label">
                                mg
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-spacer"></div>
                <div class="two fields">
                    <div class="field">
                        <label>Max Number of Pills Per Day:</label>
                        <input type="number" min="1" name="max_pills" placeholder="" required>
                    </div>
                    <div class="field">
                        <label>&nbsp;</label>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="food">
                            <label class="">With Food</label>
                        </div>
                    </div>
                </div>
                <div class="vertical-spacer"></div>
                <div class="ui field">
                    <label>Notes:</label>
                    <textarea rows="3" name="notes"></textarea>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
        <div class="actions">
            <button class="ui cancel grey basic button">Cancel</button>
            <div class="ui approve  primary basic button">Save</div>
        </div>
    </div>

    <div class="ui modal" id="scheduleDrugModal">
        <div class="header">Schedule a Drug</div>
        <div class="content">
            <form class="ui form" id="scheduleDrugForm">
                <h4 class="ui dividing header">Choose a Drug:</h4>
                <select name="drug" class="ui fluid dropdown">
                    <option class="item" ng-repeat="drug in drugList" ng-value="drug.Id">{{drug.displayName}}</option>
                </select>
                <h4 class="ui dividing header">Choose Recurrence:</h4>
                <div class="seven secondary ui buttons">
                    <div class="ui button" ng-class="{basic: !drugWeekList.sunday}"
                         ng-click="drugWeekList.sunday = !drugWeekList.sunday">Sun
                    </div>
                    <div class="ui button" ng-class="{basic: !drugWeekList.monday}"
                         ng-click="drugWeekList.monday = !drugWeekList.monday">Mon
                    </div>
                    <div class="ui button" ng-class="{basic: !drugWeekList.tuesday}"
                         ng-click="drugWeekList.tuesday = !drugWeekList.tuesday">Tue
                    </div>
                    <div class="ui button" ng-class="{basic: !drugWeekList.wednesday}"
                         ng-click="drugWeekList.wednesday = !drugWeekList.wednesday">Wed
                    </div>
                    <div class="ui button" ng-class="{basic: !drugWeekList.thursday}"
                         ng-click="drugWeekList.thursday = !drugWeekList.thursday">Thu
                    </div>
                    <div class="ui button" ng-class="{basic: !drugWeekList.friday}"
                         ng-click="drugWeekList.friday = !drugWeekList.friday">Fri
                    </div>
                    <div class="ui button" ng-class="{basic: !drugWeekList.saturday}"
                         ng-click="drugWeekList.saturday = !drugWeekList.saturday">Sat
                    </div>
                </div>
                <h4 class="ui dividing header">Usage Information:</h4>
                <div class="three fields">
                    <div class="field">
                        <label>Amount to Take:</label>
                        <input type="number" min="0" name="amount" placeholder="Amount" required autofocus>
                    </div>
                    <div class="field">
                        <label>Start Time:</label>
                        <input type="number" min="0" name="time" placeholder="Starting Time">
                    </div>
                    <div class="field">
                        <label>Repeat Interval:</label>
                        <input type="number" min="0" name="repeat" placeholder="interval in hours" required>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Start Date:</label>
                        <div class="ui calendar" id="startDate">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="startDate" placeholder="Date">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>End Date:</label>
                        <div class="ui calendar" id="endDate">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="endDate" placeholder="Date">
                            </div>
                        </div>
                    </div>
                </div>
                <!--<button class="ui labled icon button right floated">-->
                <!--Add Intervals-->
                <!--<i class="plus icon"></i>-->
                <!--</button>-->
                <!--<div class="ui animated button right floated" tabindex="0">-->
                <!--<div class="hidden content">Add</div>-->
                <!--<div class="visible content">-->
                <!--<i class="plus icon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="vertical-spacer"></div>-->
                <div class="ui error message"></div>
            </form>
        </div>
        <div class="actions">
            <button class="ui cancel grey basic button">Cancel</button>
            <div class="ui approve  primary basic button">Save</div>
        </div>
    </div>
</div>